spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/db_auth_service?createDatabaseIfNotExist=true
    username: root
    password: Oumayma@12345
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
      
app:
  jwt-secret: MaCleSecrete_Events_Project_2026_CHANGE_ME_IN_PROD_SUPER_LONG_KEY
  jwt-expiration-ms: 86400000